


<ion-view >
  <ion-header class="bar bar-assertive bar-subheader">

      <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>



  </ion-header>
  <ion-content class="has-subheader" >
  




            <div   class="padding " style="margin-left: auto;
    margin-right: auto;" >


                <div class="row " style="margin-left: auto;
    margin-right: auto;"  >
          <div class="col  "><a href="#/app/CheckStatus2">

                                <img alt="" src="Images/FORMS.png" class="thumbnail img-responsive" / >
                                 <div >
              <h6>APPLICATIONS</h6>
            </div>
                            </a>
                      
                            
                            
                            </div>
          <div class="col "> <a href="#/app/PaymentStatus">

                                <img alt="" src="Images/PAYMENT HISTORY.png" class="thumbnail img-responsive" />
                                                                  <div >
             <h6>PAYMENTS</h6>
            </div>
                            </a>
             
                            
                            </div>

                            
  
               
            </div>

            </div>

         



  </ion-content>
</ion-view>


