


<ion-view >
   <ion-header class="bar bar-assertive bar-subheader">

      <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>



  </ion-header>
  <ion-content class="has-subheader">
  




            <div   class="padding " style="margin-left: auto;
    margin-right: auto;" >


                <div class="row " style="margin-left: auto;
    margin-right: auto;"  >
          <div class="col  "><a href="#/app/TrademarkStatus">

                                <img alt="" src="Images/TRADEMARKS.png" class="thumbnail img-responsive" / >
                                 <div >
              <h6>TRADEMARKS</h6>
            </div>
                            </a>
                      
                            
                            
                            </div>
          <div class="col "> <a href="#/app/PatentStatus">

                                <img alt="" src="Images/patent.png" class="thumbnail img-responsive" />
                                                                  <div >
             <h6>PATENTS</h6>
            </div>
                            </a>
             
                            
                            </div>



                             <div class="col "> <a href="#/app/DesignStatus">

                                <img alt="" src="Images/DESIGNS.png" class="thumbnail img-responsive" />
                                                                  <div >
             <h6>DESIGN</h6>
            </div>
                            </a>
             
                            
                            </div>

                            
  
               
            </div>

            </div>

         



  </ion-content>
</ion-view>


