   <ion-view >
    <ion-header class="bar bar-assertive ">
                <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>
<span style="margin-left: auto;
    margin-right: auto;">
        <strong  >APPLICATION FILING</strong> </span> </ion-header>
  <ion-content > 
      <ion-scroll zooming="true" direction="y" class="theroot" >
<br/>
            <div class="col-md-12 " class="padding-horizontal" style="text-align:center" >  


<div>
    
     FEDERAL REPUBLIC OF NIGERIA<br />
                    FEDERAL MINISTRY OF INDUSTRY, TRADE AND INVESTMENT<br />
                    COMMERCIAL LAW DEPARTMENT<br />
                    TRADEMARKS, PATENTS AND DESIGNS REGISTRY<br />
</div>

 <div class="pos" id="_241:242" style="text-align:center" >
<span id="_24.4" style="font-weight:bold; font-family:Arial; font-size:24.4px; color:#ff0000">
APPLICATION FILING NOTICE</span>
</div>

<div class="pos" id="_101:285" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
<U>I</U><U>T</U><U> </U><U>I</U><U>S</U><U> </U><U>I</U><U>M</U><U>P</U><U>O</U><U>R</U><U>T</U><U>A</U><U>N</U><U>T</U><U> </U><U>T</U><U>O</U><U> </U><U>R</U><U>E</U><U>A</U><U>D</U><U> </U><U>C</U><U>A</U><U>R</U><U>E</U><U>F</U><U>U</U><U>L</U><U>L</U><U>Y</U><U> </U><U>T</U><U>H</U><U>E</U><U> </U><U>T</U><U>E</U><U>R</U><U>M</U><U>S</U><U> </U><U>A</U><U>N</U><U>D</U><U> </U><U>C</U><U>O</U><U>N</U><U>D</U><U>I</U><U>T</U><U>I</U><U>O</U><U>N</U><U>S</U><U> </U><U>B</U><U>E</U><U>L</U><U>O</U><U>W</U></span>
</div>
<div class="pos" id="_284:314" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
<U>B</U><U>E</U><U>F</U><U>O</U><U>R</U><U>E</U><U> </U><U>Y</U><U>O</U><U>U</U><U> </U><U>A</U><U>G</U><U>R</U><U>E</U><U>E</U><U> </U><U>T</U><U>O</U><U> </U><U>C</U><U>O</U><U>M</U><U>P</U><U>L</U><U>Y</U><U>.</U></span>
</div>
<div class="pos" id="_100:357" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
<U>T</U><U>e</U><U>c</U><U>h</U><U>n</U><U>i</U><U>c</U><U>a</U><U>l</U><U> </U><U>I</U><U>n</U><U>f</U><U>o</U><U>r</U><U>m</U><U>a</U><U>t</U><U>i</U><U>o</U><U>n</U><U>:</U></span>
</div>
<div class="pos" id="_125:400" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
1. Once an application has been started; please do "NOT" click on the</span>
</div>
<div class="pos" id="_150:429" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
"BACK" button of the browser</span>
</div>
<div class="pos" id="_125:458" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
2. Do "NOT" start "MULTIPLE" application on the same browser (That is, do</span>
</div>
<div class="pos" id="_150:487" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
not start multiple applications by creating "multiple tabs" within the same</span>
</div>
<div class="pos" id="_150:516" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
browser</span>
</div>
<div class="pos" id="_125:545" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
3. If multiple applications are to be started, please do so by starting each</span>
</div>
<div class="pos" id="_150:574" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
one in a different browser</span>
</div>
<div class="pos" id="_125:603" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
4. This service is best used with Internet Explorer 6, Firefox 2 or Safari 2 or</span>
</div>
<div class="pos" id="_150:631" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
later on a screen at least 1024 by 768 pixels in size. Our website requires</span>
</div>
<div class="pos" id="_150:660" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
the use of cookies and JavaScript and supports the ISO 8859-1 character</span>
</div>
<div class="pos" id="_150:689" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
set</span>
</div>
<div class="pos" id="_100:747" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#ff0000">
<U>I</U><U>M</U><U>P</U><U>O</U><U>R</U><U>T</U><U>A</U><U>N</U><U>T</U><U> </U><U>N</U><U>O</U><U>T</U><U>I</U><U>C</U><U>E</U></span>
</div>
<div class="pos" id="_125:776" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
1. The Trademark you want to register can be represented in 3 ways (word</span>
</div>
<div class="pos" id="_150:805" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
mark, word and device and device)</span>
</div>
<div class="pos" id="_125:834" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
2. You are required to specify the class of goods and description when filing.</span>
</div>
<div class="pos" id="_125:863" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
3. All representations of Trademarks must be uploaded in jpeg formats only</span>
</div>
<div class="pos" id="_150:892" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
(excluding word marks)</span>
</div>
<div class="pos" id="_125:921" style="text-align:center" >
<span id="_16.3" style="font-weight:bold; font-family:Arial; font-size:16.3px; color:#000000">
4. All supporting documents must be uploaded in PDF formats only.</span>
</div>

<div class="pos" id="_125:1197" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
5. All information (Applicant Information, Trademark information, Agent</span>
</div>
<div class="pos" id="_150:1226" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
information and any other) must be verified by you as accurate before you</span>
</div>
<div class="pos" id="_150:1255"  style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
commence filing.</span>
</div>
<div class="pos" id="_125:1284" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
6. All information entered and submitted cannot be retrieved, amended or</span>
</div>
<div class="pos" id="_150:1313" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
corrected without the payment of an amendment fee of<span style=" color:#ff0000"> N10,</span><span style=" color:#ff0000"> 900</span> for</span>
</div>
<div class="pos" id="_150:1342" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
applications with issued acceptance or refusal letters and<span style=" color:#ff0000"> N2,</span><span style=" color:#ff0000"> 900</span> for</span>
</div>
<div class="pos" id="_150:1371" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
applications before acceptance or refusal is issued. Please ensure that</span>
</div>
<div class="pos" id="_150:1400" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
the information filled is properly verified before final submission.</span>
</div>
<div class="pos" id="_125:1429" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
7. All correspondence with regards to applications filed will be sent to the</span>
</div>
<div class="pos" id="_150:1458" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
agent email as specified during accreditation.</span>
</div>
<div class="pos" id="_125:1487" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
8. You will be issued an on-screen acknowledgment copy immediately after</span>
</div>
<div class="pos" id="_150:1516" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
submission. If you do not receive your acknowledgment immediately</span>
</div>
<div class="pos" id="_150:1545" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
kindly use the &#8216;check status&#8217; link to re -print your acknowledgment.</span>
</div>
<div class="pos" id="_125:1574" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
9. This form has a session of 20 minutes; ensure you complete your form</span>
</div>
<div class="pos" id="_150:1602" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
within the specified period to avoid being timed out.</span>
</div>
<div class="pos" id="_125:1631" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
</span>
</div>
<div class="pos" id="_200:1631" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
10.&nbsp;&nbsp;All complaints must be forwarded using the customer complaint</span>
</div>
<div class="pos" id="_150:1660" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
forms to<span style=" color:#0000ff"><a href="mailto:customeraupport@iponigeria.com"> customeraupport@iponigeria.com</span></span>
</div>
<div class="pos" id="_125:1689" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
</a></span>
</div>
<div class="pos" id="_200:1689" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
11.&nbsp;&nbsp;All complaints will be treated within 48 hours, Mondays &#8211; Fridays.</span>
</div>
<div class="pos" id="_100:1775" style="text-align:center" >
<span id="_16.4" style="font-weight:bold; font-family:Arial; font-size:16.4px; color:#000000">
THANK YOU FOR YOUR UNDERSTANDING</span>
</div>
                
               
                <br />
                <div align="center"><strong>THANK YOU FOR YOUR UNDERSTANDING<br />
              I AGREE TO COMPLY WITH THE INSTRUCTIONS ABOVE  <input id="chk2" type="checkbox" ng-model="chkVal2" 
                             ng-false-value="false" ng-true-value="true" />
                   </div> 

 <div ng-show="chkVal2">
             <input type="button "  ng-click="submitForm()" name="Proceed" id="Proceed" value="Proceed" class="button button-positive"  />
        </div>


            </div>
   
    

    </ion-scroll>
  </ion-content>
  </ion-view >