<ion-view >
  <ion-content> 
<table style="width:90%;" align="center">
    <tr>
        <td colspan="2">
            <table style="width:100%;border:1px dashed #999;border-radius:5px;">
           

                <tr>
                    <td colspan="2" align="center" style="background-color:#1C5E55; color:#ffffff;">
                        &nbsp;
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center">
                        &nbsp;
                    </td>
                </tr>

                <tr>
                    <td colspan="2" align="center" style="background-color:#1C5E55; color:#ffffff;">
                        &nbsp;
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <div class="notice_proceed">
                            YOUR TRANSACTION DETAILS HAVE BEEN CONFIRMED AND YOU ARE ABOUT TO BE REDIRECTED TO THE INTERSWITCH PAYMENT GATEWAY<br />
                            PLEASE VERIFY YOUR INTERNET CONNECTION IS UP AND RUNNING BEFORE PROCEEDING TO MAKE PAYMENT!!<br />
                            BEST REGARDS!!!<br /><br />
                            <img src="img/check.png" alt="Details Confirmed" />
                        </div>

                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2">
                        <form id="form1" action="https://stageserv.interswitchng.com/test_paydirect/pay"  method="post">
                            <input name="product_id" type="hidden" value="{{ vdata.product_id}}" />
                            <input name="pay_item_id" type="hidden" value="{{ vdata.pay_item_id}}" />
                            <input name="amount" type="hidden" value="{{InterSwitchPostFields.amount}}" />
                            <input name="currency" type="hidden" value="{{vdata.currency}}" />
                            <input name="site_redirect_url" type="hidden" value="{{vdata.site_redirect_url}}" />
                            <input name="txn_ref" type="hidden" value="{{twallet.transID}}" />
                            <input name="cust_name" type="hidden" value="{{applicant.applicantname}}" />
                            <input name="cust_name_desc" type="hidden" value="{{applicant.applicantname}}" />
                            <input name="cust_id" type="hidden" value="{{applicant.applicantname}}" />
                            <input name="cust_id_desc" type="hidden" value="{{applicant.applicantname}}" />
                            <input name="pay_item_name" type="hidden" value="{{applicant.applicantname}}" />
                            <input name="hash" type="hidden" value="{{InterSwitchPostFields.hash}}" />
                            <input name="payment_params" type="hidden" value="payment_split" />
                            <input name="xml_data" type="hidden" value='<payment_item_detail>
                                <item_details detail_ref="{{twallet.transID}}" institution="Einao Solutions" sub_location="Abuja" location="Lagos">
                                    <item_detail item_id="1" item_name="Einao Solutions" item_amt="{{tech_amt}}" bank_id="120" acct_num="1771364037" />
                                    <item_detail item_id="2" item_name="Federal Ministry Of Commerce" item_amt="{{init_amt}}" bank_id="120" acct_num="1770393883" />
                                </item_details>
                            </payment_item_detail>'/>
                            <br />
                           <input id="Button1" type="button" class="btn btn-info" ng-click="dashboard()" value="Back to Dashboard" />
                            <input id="btnPayment" type="button" value="Make Payment" ng-click="submitForm()" class="btn btn-info" />

                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" style="background-color:#1C5E55; color:#ffffff;"></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        POWERED BY<br />
                        <img src="img/payxlogo.jpg" alt="XPay" width="90px" height="40px" />
                        <img alt="interswitch" src="img/isw_logo_small.gif" /><br />
                        Plot 4. Oluwakayode Jacobs Street Ikate,Lekki Phase 1<br />
                        <a href="http://www.einaosolutions.com">www.einaosolutions.com</a><br />
                        Support E-mail(s): <a href="mailto:paymentsupport@einaosolutions.com">paymentsupport@einaosolutions.com</a><br />
                        Customer Contact Support Line(s): +2349038979681
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
 </ion-content> 
</ion-view >
 