<ion-view >
<ion-header class="bar bar-assertive bar-subheader">
   <input id="Button1" type="button"  ng-click="dashboard()" value="Back" />

    <strong> <span class="badge badge-assertive icon-badge">{{vcount2}} Unread Message </span>  </strong></ion-header>

  
  
  <ion-content class="has-subheader" > 
<ion-scroll zooming="true" direction="y" delegate-handle="main-list" >
 <table st-table="displayedCollection2" st-safe-src="ListAgent2" class="table form   col-lg-3 col-md-3  table-striped" style="font-family: Arial, Helvetica, sans-serif; font-weight: 600; ">
        <thead>
            <tr>




                <th st-sort="Subject" class="tbbg2">Message &nbsp;&nbsp;   </th>









            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection2">


                <td ng-bind-html="row.Message"></td>

                <!--<td ng-class="{'pending-delete': add5(row)}">{{row.Message}}</td>-->














            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-center">
                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                </td>
            </tr>
        </tfoot>
    </table>


    </ion-scroll>

     </ion-content> 


               </ion-view >