
<ion-view >
    <ion-header class="bar bar-assertive bar-subheader">
        <button class="button button-small " ng-click="dashboard()" >
       <i class="ion-arrow-left-a"></i>
          Back
        </button>
   </ion-header>
  <ion-content class="has-subheader" > 

      <div class="col-md-12">

           <div  style="background-color:#1C5E55; color:#ffffff; font-size:16px;">
                                <span 
                                   >
                                    WEB PAYMENT GUIDE
                                </span>
                            </div>
<div>
                                    <span class="notice_header"> Step One:</span><br />
                                    <span class="notice_text">You should have either an Interswitch powered Debit card or Verve card</span><br />
                                    <br />
                                    <span class="notice_header">Step Two:</span><br />
                                    <span class="notice_text">Please ensure that the card provided is still valid (Check the expiry date!)</span><br />
                                    <br />
                                    <span class="notice_header">Step Three:</span><br />
                                    <span class="notice_text">
                                        Please ensure that you have the required amount (As shown on the details page!)
                                        on the selected card type to pay for the required items
                                    </span><br />
                                    <br />
                                    <span class="notice_header">Step Four:</span><br />
                                    <span class="notice_text">
                                        On the payment gateway, select the card type and provide the card details,PIN
                                        and any other required information
                                    </span><br />
                                    <br />
                                    <span class="notice_header">Step Five:</span><br />
                                    <span class="notice_text">Always cross-check the details before you proceed to the payment gateway</span><br />
                                    <br />

                                </div>

                                 <div style="background-color:#1C5E55; color:#ffffff;font-size:16px;">
                                <span 
                                    >
                                    BANK DEPOSIT PAYMENT GUIDE
                                </span>
                            </div>


                            

                            <div >
                               
                                    <span class="notice_header">Step One:</span><br />
                                    <span class="notice_text">
                                        Make sure you have either recieved an alert (SMS/E-mail) or have printed a copy
                                        of your invoice
                                    </span><br />
                                    <br />
                                    <span class="notice_header">Step Two:</span><br />
                                    <span class="notice_text">Kindly go to any of the designated banks for the service to make payment</span><br />
                                    <br />
                                    <span class="notice_header">Step Three:</span><br />
                                    <span class="notice_text">
                                        Always cross-check the details before you proceed to generate the payment
                                        invoice
                                    </span><br />
                                    <br />
                               
                            </div>
                            <div>
                                <span >
                                    Thank you for adhering to the above instructions!!
                                </span>
                            </div>

                             <div style="background-color:#1C5E55; color:#ffffff;">
                                <span  >
                                    PLEASE SELECT AN OPTION BELOW
                                </span>
                            </div>

                                <div align="center"  >
                              
                                    <label>
                                        <input type="radio" name="chickenEgg" value="interswitch" ng-click="getdata($event)" ng-model="chickenEgg">
                                        <img alt="interswitch" width="92px" height="30px" src="img/isw_logo_small.gif" />
                                       
                                    </label>
                                    &nbsp; &nbsp; &nbsp; &nbsp;
                                    <label>
                                        <input type="radio" name="chickenEgg" value="bank" ng-click="getdata2($event)" ng-model="chickenEgg">
                                        <img alt="recharge_pin" class="style1" src="img/recharge_pin.png" />
                                    </label>

                                
                            </div>

                            
                            <div align="center" >
                                
                                    POWERED BY<br />
                                    <img src="img/payxlogo.jpg" alt="XPay" width="90px" height="40px" /> <br />
                                    Plot 4. Oluwakayode Jacobs Street Ikate,Lekki Phase 1<br />
                                    <a href="http://www.einaosolutions.com">www.einaosolutions.com</a><br />
                                    Support E-mail(s): <a href="mailto:paymentsupport@einaosolutions.com">paymentsupport@einaosolutions.com</a><br />
                                    Customer Contact Support Line(s): +2349038979681
                              
                            </div>
      </div>

          
</ion-content> 
           </ion-view >
  