<ion-view >
  <ion-content>
        <div>


<div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="vform.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="vform.password">
          </label>

           <button class="button button-block button-positive" ng-click="submitForm(vform)">Login</button>
      </div>
         

                        
                       



                    </div>


            
  
  </ion-content>
   </ion-view >

